registry=https://safaktarazan.jfrog.io/safaktarazan/api/npm/fdp-global-npm-registry/
@local_registry:registry=https://safaktarazan.jfrog.io/safaktarazan/api/npm/fdp-local-npm-registry/
_auth=YWRtaW46QVA4aVZWU0VSMkV5Z2FrZW1QNlZiUnNwbURT
email=tarazansafak@gmail.com
always-auth=true

